*{
          margin: 0;
          padding: 0;
}
.container {
          width: 100%;
          height: 100%;
          background-color: beige;
}
.container .form{
          margin-left: 200px;
          margin-top: 50px;
}